<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HumIt</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/error.css" />
  <script src="/js/musiceffect.js" defer></script>
</head>
<body>
<div class="error-card">
  <h1><%= status %></h1>
  <p><%= message %></p>
</div>
<div id="musiceffect"></div>
</body>
</html>