<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Yuji+Boku&display=swap" rel="stylesheet">
  <title>HumIt</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <script src="/js/musiceffect.js" defer></script>
  <script src="/js/main.js" defer></script>
  <script src="/js/showhide.js" defer></script>
  <script src="/js/validate.js" defer></script>
</head>
<body>
  <nav>
    <h1 id="brand">HumiT</h1>
    <ul>
      <li><img class="modetoggle" id="modetoggle" src="/images/light.png"></li>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/trending">Trending</a></li>
      <li id="auth-link"></li>
    </ul>
  </nav>
  <form id="authForm" class="logincard" action="/auth/signup" method="POST">
    <h2>Register</h2>
    <input type="email" id="email" name="email" placeholder="Email" required />
    <input type="text" id="username" name="username" placeholder="Username" required/>
    <div class="wrapper1">
      <input id="password" type="password" name="password" placeholder="Password" required/>
      <img class="toggle" id="toggle" src="/images/show.png" />
    </div>
    <button type="submit">Submit</button>
  </form>
  <div id="musiceffect"></div>
</body>
</html>